* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}


body {
    font-family: 'Montserrat', arial, sans-serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1547744037-b80bdba1b6f0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
}

.container {
    display: grid;
    grid-template-columns: 8rem 1fr;
    min-height: 100vh;
}

.nav {
    grid-column: 1;
    background: rgba(70, 70, 70, 0.6);
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.65);
    transition: width 1s ease-in;
    /* min-height: 100vh; */
}

/* FOLDOUT CLASS OP NAV, NAV-LIST, LOGO, HAMBURGER */

.nav.foldout {
    width: 30rem;
    z-index: 10;
    background: rgba(70, 70, 70, .98);
    animation: foldout .3s linear forwards;
    transform: scaleX(0);
    transform-origin: left;

}

@keyframes foldout {
    0% {
        transform: scaleX(0);
        background: rgba(70, 70, 70, .6);
    }
    50% {
        background: rgba(70, 70, 70, .75);
    }
    100% {
        transform: scaleX(1);
    }
}

/* SUB MENU MET ANIMATIE */
.nav-list-foldout {
    position: relative;
    bottom: 30rem;
    font-size: 5rem;
    opacity: 0;
    pointer-events: none;
}

.nav-list-foldout a {
    text-decoration: none;
    color: white;
}
.nav-list-foldout a:hover {
    text-decoration: underline;
}


.nav-list-foldout.foldout {
    opacity: 1;
    bottom: 30rem;
    font-size: 5rem;
    pointer-events: all;
}

.nav-list-foldout.foldout li {
    transform: translateX(-100%);
}

.nav-list-foldout.foldout li:nth-of-type(1) {
    animation: menu-item-anim .6s forwards ease-in-out;
}

.nav-list-foldout.foldout li:nth-of-type(2) {
    animation: menu-item-anim .6s forwards .2s ease-in-out;
}

.nav-list-foldout.foldout li:nth-of-type(3) {
    animation: menu-item-anim .6s forwards .4s ease-in-out;
}

.nav-list-foldout.foldout li:nth-of-type(4) {
    animation: menu-item-anim .6s forwards .6s ease-in-out;
}

.nav-list-foldout.foldout li:nth-of-type(5) {
    animation: menu-item-anim .6s forwards .8s ease-in-out;
}

@keyframes menu-item-anim {
    from {
        transform: translateX(-100%);
        opacity: 0
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0;
    padding: 0;  
}

.nav-list.foldout {
    align-items: flex-end;
    margin-right: 2rem;
}



.nav-item {
    color: white;
    margin-top: 3rem;
}

.hamburger {
    opacity: 1;
    color: white;
    font-size: 2rem;
    width: 2rem;
    margin: 2rem 0 0 0;
    padding: 0;
    cursor: pointer;
}

.hamburger .fa-times {
    justify-self: flex-end;
    animation: rotation 1s linear forwards;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    
    }
    to {
        transform: rotate(180deg);

    }
}



.nav-item .logo {
    opacity: 1;
    color: white;
    font-size: 4rem;
    margin-top: 5rem;
    border: 1px solid white;
    padding: 1rem;
}

.logo.foldout {
    opacity: 0;
    margin-left: 1.2rem;
    pointer-events: none;
}

.nav-item.rotated {
    font-size: 1.4rem;
    transform: rotate(-90deg);
    width: 35rem;
    margin: 20rem 0 0 0;
    
}

.nav-item.rotated .slogan-color {
    color: gold;
    font-weight: 900;
    padding: 1rem;
}

.nav-item.rotated.foldout {
    position: relative;
    right: -16rem;
}

/* MOBILE MENU */

.mobile-menu {
    position: absolute;
    top: -20rem;
    left: 0;

    z-index: 10;
    background: rgba(70, 70, 70, .98);
    width: 100vw;
    display: flex;
}
.nav-list-mobile {
    margin: 0 auto;
    padding: 2rem;
    
}

.nav-list-mobile li {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    
}

.mobile-hamburger {
    display: none;
    color: white;
    font-size: 2rem;
    width: 2rem;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top:1.3rem;
    left:2rem;
}

/* MAIN CONTENT */
.main-content {
    grid-column: 2;
}

.card-container {
    min-height: 100vh;
    color: white;
    margin: auto;
    max-width: 80rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat( auto-fit, minmax(22rem, 1fr) );
    align-content: center;
}

.card {
    background: rgba(70, 70, 70, 0.6);
    padding: 1.4rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.65);
}

.card .card-button {
    background: none;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    display: block;
    width: 100%;
}


/* MEDIAQUERIES */

@media screen and (max-width: 870px) {
  
    
    .container {
        display: flex;
        flex-flow: column;
    }

    .nav {
        min-height: 5vh;
    }

    .mobile-hamburger {
        display: block;
        z-index: 999;
    }

    .mobile-menu.mobile-foldout {
        top: 0;
    }

    .nav-list {
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .nav-list li:first-child {
        margin: 0 0 0 0;
    }

    .hamburger {
        display: none;
    }
    .logo {
        display: none;  
    }

    .nav-item.rotated {
        font-size: 1rem;
        transform: rotate(0deg);
        margin: 2rem 0 2rem 0;
        width: 400px;
        text-align: center;
    }

    .nav-list-foldout {
        display: none;
    }
    
    
}

@media screen and (max-width: 460px) {
    span.hide-mobile {
        display: none;
    }

    .nav-item.rotated {
        width: 100%;
    }
}